.map-wrapper {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; /* 또는 필요시 적절한 높이 */
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
