@font-face {
  font-family: 'NanumSquareRound';
  src: url('./assets/fonts/NanumSquareRoundR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('./assets/fonts/NanumSquareRoundB.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('./assets/fonts/NanumSquareRoundEB.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
body {
  font-family: 'NanumSquareRound', sans-serif;
  margin: 0;
  padding: 0;
}
#root {
  width: 1487px;         /* 화면 너비 강제 고정 */
  margin: 0 auto;        /* 가운데 정렬 */
  padding: 2rem;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
}
.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
}

.map-area {
  flex-shrink: 0;
  width: 1487px;
  transition: transform 0.5s ease;
}

.map-area.slide-left {
  transform: translateX(-30x); /* 왼쪽으로 밀기 */
  width: 1000px;
}

.chart-area {
  width: 1000px;         /* ✅ 원하는 그래프 너비 */
  height: 1000px;
  max-width: 100%;       /* 반응형 안정성 */
  padding-top: 15px;
}

.chart-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px; /* 카드 가로 너비 고정 */
  max-width: 1000px; 
  width: 100%;
  height: 1000px;
  max-width: none;
  
  padding: 32px 24px;
  border-radius: 12px; 
}
.chart-card {
  background-color: #eeeeee;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  padding: 16px 24px;
  width: 100%;              /* 너비를 부모에 맞게 */
  box-sizing: border-box;   /* 패딩 포함 */
}
.chart-box {
  height: 400px;       /* ✅ 그래프 높이 넓힘 */
}