@font-face {
  font-family: 'NanumSquareRound';
  src: url('./assets/fonts/NanumSquareRoundR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('./assets/fonts/NanumSquareRoundB.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('./assets/fonts/NanumSquareRoundEB.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
body {
  font-family: 'NanumSquareRound', sans-serif;
  margin: 0;
  padding: 0;
}
#root {
  width: 1487px;         /* 화면 너비 강제 고정 */
  margin: 0 auto;        /* 가운데 정렬 */
  padding: 2rem;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
}
.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
}

.map-area {
  flex-shrink: 0;
  width: 600px;
  transition: transform 0.5s ease;
}

.map-area.slide-left {
  transform: translateX(-120px); /* 왼쪽으로 밀기 */
}

.chart-area {
  flex-grow: 1;
  opacity: 1;
  transition: opacity 0.5s ease;
}